<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423878777945-r13u6qmla04f0vo3jb1am3uml3r6fgil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423878777945-r13u6qmla04f0vo3jb1am3uml3r6fgil</string>
	<key>API_KEY</key>
	<string>AIzaSyDvHMAVhzMw7EkCWfoIMF9M8g52ZyZWgX0</string>
	<key>GCM_SENDER_ID</key>
	<string>423878777945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todos</string>
	<key>PROJECT_ID</key>
	<string>numflurry-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>numflurry-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423878777945:ios:91c0b0377c2a5e9a40a548</string>
</dict>
</plist>